<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script type="application/javascript" src="/js/bootstrap.js" ></script>
</head>

<body>

<div th:insert="~{navigation :: navigation}"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>

            <div class="media" th:if="${section == 'questions'}" th:each="questionDTO : ${paginationDTO.getQuestionDTOList()}">
                <div class="media-left">
                    <a th:href="@{'/question/'+${questionDTO.id}}">
                        <img class="media-object img-circle" th:src="${questionDTO.user.avatarUrl}" alt="avatar">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${questionDTO.id}}" th:text="${questionDTO.title}" style="color:black"></a><br>
                    </h4>
                    <span th:text="${questionDTO.description}"></span><br>
                    <div class="list-text"><span th:text="${questionDTO.commentCount}"></span>个回复 · <span th:text="${questionDTO.viewCount}"></span>次浏览 · <span th:text="${#calendars.format(questionDTO.gmtCreate,'yyyy-MMMM-dd HH:mm')}"></span></div>
                </div>
            </div>
            <nav aria-label="Page navigation" th:if="${section == 'questions'}">
                <ul class="pagination">
                    <li th:if="${paginationDTO.showFirstPage}">
                        <a th:href="@{/profile/questions(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showPrevious}">
                        <a th:href="@{/profile/questions(page=${paginationDTO.page}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.page} - 3 ge 1"><a th:href="@{/profile/questions(page=${paginationDTO.page}-3)}" th:text="${paginationDTO.page}-3"></a></li>
                    <li th:if="${paginationDTO.page} - 2 ge 1"><a th:href="@{/profile/questions(page=${paginationDTO.page}-2)}" th:text="${paginationDTO.page}-2"></a></li>
                    <li th:if="${paginationDTO.page} - 1 ge 1"><a th:href="@{/profile/questions(page=${paginationDTO.page}-1)}" th:text="${paginationDTO.page}-1"></a></li>
                    <li class="active"><a th:href="@{/profile/questions(page=${paginationDTO.page})}" th:text="${paginationDTO.page}"></a></li>
                    <li th:if="${paginationDTO.page} + 1 le ${paginationDTO.totalPages}"><a th:href="@{/profile/questions(page=${paginationDTO.page}+1)}" th:text="${paginationDTO.page}+1"></a></li>
                    <li th:if="${paginationDTO.page} + 2 le ${paginationDTO.totalPages}"><a th:href="@{/profile/questions(page=${paginationDTO.page}+2)}" th:text="${paginationDTO.page}+2"></a></li>
                    <li th:if="${paginationDTO.page} + 3 le ${paginationDTO.totalPages}"><a th:href="@{/profile/questions(page=${paginationDTO.page}+3)}" th:text="${paginationDTO.page}+3"></a></li>
                    <li th:if="${paginationDTO.showNext}">
                        <a th:href="@{/profile/questions(page=${paginationDTO.page}+1)}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showLastPage}">
                        <a th:href="@{/profile/questions(page=${paginationDTO.totalPages})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" th:class="${section == 'questions'}?'list-group-item active':'list-group-item'"><span class="badge" th:text="${paginationDTO.totalQuestions}"></span>我的问题</a>
                <a href="/profile/replies" th:class="${section == 'replies'}?'list-group-item active':'list-group-item'">最新回复</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>